* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 40px auto;
    background: #17171C;
    padding: 18px;
    box-sizing: border-box;
    width: 364px;
    height: 582px;
    font-family: Work Sans;
    font-weight: 300;
    color: white;
}
.calc-window {
    width: 324px;
    height: 96px;
    border: 1px solid blue;
    font-size: 96px;
    line-height: 96px;
    text-align: right;
}
.buttons {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px 20px 25px;
    justify-content: center;
}
.btn {
    display: grid;
    grid-column: span 1;
    min-width: 69px; 
    height: 72px; 
    background: #2E2F38;
    font-size: 32px;
    line-height: 40px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(120%);
}
.btn:active {
    filter: brightness(80%);
}
.delAll {
    grid-column: span 2;
}
.big3 {
    grid-column: span 3;
}
.blue {
    background: #4B5EFC;
}